# .env를 다음과 같이 작성하라는 의미의 파일, .env는 github에 올리지 않는다.
APP_ENV='development' # development, production
NCP_REGISTRY=''
# FE
VITE_SMISHING_HOME_URL=
# BE

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DATABASE_URL=
CSRF_SECRET=
# ai_service
