# .env를 다음과 같이 작성하라는 의미의 파일, .env는 github에 올리지 않는다.
APP_ENV='development' # development, production
NCP_REGISTRY=''
# FE
VITE_SMISHING_HOME_URL=
# BE

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DATABASE_URL=

HF_TIMEOUT_SECONDS=30
HF_DECODER_MAX_NEW_TOKENS=128
ENCODER_API_KEY=
ENCODER_INFERENCE_ENDPOINT=

# grafana
GF_SECURITY_ADMIN_PASSWORD=그파라나1!

# ai_service
HF_TOKEN=
DECODER_ENDPOINT_URL=
EXPLAINER_MODEL=Qwen/Qwen3-1.7B
