# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# vscode
.vscode

# pytest
.pytest_cache/

# 환경
.env
.env.*
!.env.example
.venv/
venv/

# uv
.python-version
# ruff
.ruff_cache

# Jupyter
.ipynb_checkpoints/
#*.ipynb

# 모델 가중치 / 데이터 (용량이 크므로 Git LFS 또는 제외)
*.pt
*.pth
*.ckpt
*.bin
data/

# IDE
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# 로그
*.log
logs/
wandb/
mlruns/

# terraform
*.tfvars
.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

# custom folders
raw_data
my_local_model/
node_modules/
frontend_python/web_mvp/node_modules/
frontend_python/web_mvp/dist/
!frontend_python/web_mvp/src/data/
!frontend_python/web_mvp/src/data/**
